<!DOCTYPE html>
<html>
  <head>
    <title>Bolder Product</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>

 
    <!-- Navigation Bar -->
<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<!-- Just an image -->

  <a class="navbar-brand">
    <%= image_tag("bootstrap-solid.svg", size: "30x30" ) %>
  </a>
<!-- </nav> -->

<!-- <a class="nav-link"   <%= link_to "Home", root_path, class: "nav-link" %><span class="sr-only">(current)</span></a>  --> 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<li class="nav-item active">
        <a class="nav-link" <%= link_to "Home", root_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item">
        <a class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></a>

      </li>
      <li class="nav-item">
        <a class="nav-item"><%= link_to "Contact", contactus_path, class: "nav-link" %></a>
      </li>
          <li class="nav-item">
        <a class="nav-item"><%= link_to "Recruitment", recruitment_path, class: "nav-link" %></a>
      </li>




       <% if user_signed_in? %>

   
        <li class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Client Tools</li>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" href="tweets">Invoices</a>
          <a class="dropdown-item" href="items">Projects</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
    

         <a class="nav-item float-md-right"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></a>

         <% else %>


</ul>   
<ul class="nav navbar-nav navbar-right">


<!--          <li class="nav-item float-md-right"><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></li>
 -->          <li class="nav-item float-md-right"><%= link_to "Client Portal", signin_path, class: "btn btn-secondary" %></li>
        </ul>
      <% end %>



    

  
    </form>
  </div>
</nav>




 <!-- Flash Messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2017 Bolder Product</p>
        </center>
      </div>
    </footer>

  </body>
</html>
